.container{
  width: 1680px;
}

header{
  width: 1520px;
}

.menu{
  box-sizing: content-box;
  width: auto;
  border: solid grey 5px;
}

.menu a  {
  box-sizing: content-box;
  width: auto;
  border: solid grey 5px;
}

.logo img{
  width: 100px;
  height: 100px;
}

.navigation{
  grid-row:auto;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}

.social_link img{
  width: 50px;
  height: 50px;
}
